<% provide(:title, 'All users') %>

<div class="bg-white p-4 rounded">
  <h2>All users</h2>

  <% @users.each do |user| %>
    <div class="d-flex mt-5">
      <div class="gravatar">
        <%= gravatar_for(user, options = {size: 80}) %>
      </div>
      <div class="ml-4">
        <h5><%= link_to user.name, user_path(user) %></h5>      
        <% if user != current_user %>
          <%= render partial: 'shared/user', locals: {user: user} %>
        <% else %>
          <%= link_to 'View you profile', user_path(user), class: 'btn button gray-button' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>