<% provide(:title, 'All users') %>

<h1>All users</h1>

<% @users.each do |user| %>
  <%= gravatar_for user %>
  <h4><%= user.name %></h4>

  <% if user != current_user %>
    <%= render partial: 'shared/user', locals: {user: user} %>
  <% end %>

<% end %>