<% provide(:title, 'All users') %>

<div class="bg-white px-5">
  <h1>All users</h1>

  <% @users.each do |user| %>
    <div class="container mt-5 p-0 d-flex">
      <div class="">
        <%= gravatar_for(user, options = {size: 80}) %>
      </div>
      <div class="ml-4">
        <h5><%= user.name %></h5>      
        <% if user != current_user %>
          <%= render partial: 'shared/user', locals: {user: user} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>