<% provide(:title, 'Notifications') %>

<% if !@requests.empty? %>
  <% @requests.each do |r| %>
    <p><%= r.sender.name %></p>
    <%= render partial: 'shared/received_request_buttons', locals: {r: r} %>
  <% end %>
<% else %>
  <p>No pending friend requests</p>
<% end %>
