.gray-background {
  background: $background-gray;
}

.centered {
  margin: 0 auto;
}

.bold {
  font-weight: 900;
}

.button {
  min-width: 100px;
}

.gray-button {
  background: $button-gray;
  border: 1px solid darkgray;
}

.blue-button {
  background: $network-blue !important;
  color: white !important;
}

.flash,
#error_explanation {
  margin-top: -($spacer * 1.5);
  margin-bottom: 1rem;
  padding: 10px;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background: $alert-red;

  h2 {
    font-size: $font-size-base * 1.25;
  }
}

.notice {
  background: $info;
}

.success {
  background: $success;
}

.gravatar img {
  border-radius: 50%;
}

.btn {

}