.gray-background {
  background: $background-gray;
}

.centered {
  margin: 0 auto;
}

.bold {
  font-weight: 900;
}

.button {
  background: $network-blue !important;
  color: white !important;
}

.flash,
#error_explanation {
  margin: 10px 0;
  padding: 10px;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background: $alert-red;

  h2 {
    font-size: $font-size-base * 1.25;
  }
}

.notice {
  background: $info;
}

.success {
  background: $success;
}
