<% provide(:title, 'Sign Up') %>
<% provide(:button_text, 'Sign up') %>

<%= render "devise/shared/error_messages", resource: resource %>
  
<div class="centered">
  <h2>Sign up</h2>

  <%= render 'users/shared/registration_form' %>

  <%= render "devise/shared/links" %>
</div>
